@page "/"
@using Mudify.Services
@using YoutubeExplode.Search;
@inject Youtube youtube
@inject ISnackbar snackbar;

<PageTitle>Index</PageTitle>

<div class="search-container">
    <MudTextField @bind-Value="@search" Label="Search" Variant="Variant.Outlined" Immediate="true"></MudTextField>
    <MudButton Variant="Variant.Filled" Color="Color.Tertiary" Disabled="@string.IsNullOrEmpty(search)" DisableElevation="true" Class="btn" OnClick="@(() => SearchVideosAsync())">Search</MudButton>
</div>

<MudSimpleTable Hover="true" Elevation="5" Class="table">
    <tbody>
        @foreach (VideoSearchResult video in videos)
        {
            <tr @onclick="@(() => PlayAsync(video))">
                <td>@video.Author</td>
                <td>@video.Title</td>
                <td>@video.Duration</td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

<div class="flex-container">
    <MudCard Class="player" Elevation="5">
        <MudCardContent>
            <MudText Typo="Typo.h6" Class="track">@(current?.Title ?? "Nothing")</MudText>
        </MudCardContent>
        <MudCardActions Class="input">
            <MudFab StartIcon="@Icons.Material.Filled.ArrowCircleLeft" Size="Size.Small" DisableElevation="true"></MudFab>
            <MudFab StartIcon="@Icons.Material.Filled.PlayCircle" Size="Size.Small" DisableElevation="true"></MudFab>
            <MudFab StartIcon="@Icons.Material.Filled.ArrowCircleRight" Size="Size.Small" DisableElevation="true"></MudFab>
        </MudCardActions>
        <MudCardActions>
            <MudSlider Value="27" Size="Size.Medium" Disabled="true"></MudSlider>
        </MudCardActions>
    </MudCard>
</div>

<audio src="@source" autoplay>

</audio>

@code{
    private IList<VideoSearchResult> videos = new List<VideoSearchResult>();
    private VideoSearchResult current;
    private string search;
    private string source;
    private bool isPlaying = false;

    private async Task SearchVideosAsync()
    {
        videos.Clear();
        await foreach(VideoSearchResult video in youtube.SearchVideosAsync(search))
        {
            videos.Add(video);
            StateHasChanged();
        }
    }

    private async Task PlayAsync(VideoSearchResult video)
    {
        current = video;
        snackbar.Add($"Now playing: {video.Title}");
        source = await youtube.GetAudioBase64String(video);
    }
}